[Desktop Entry]
Name=Miku Expo Countdown
Comment=Countdown the days and hours to Miku Expo
Exec=mikuexpo-countdown
#DBusActivatable=true
Icon=dance._39music.MikuExpoCountdown
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Utility;
Keywords=countdown;miku;
