#mainwin {
    background-image: url("resource:///org/talinet/mikuexpocountdown/hero_miku.png");
    background-size: contain;
	background-repeat: space;
    background-origin: content-box;
    padding: 10px;
    background-color: rgb(124, 139, 173);
}

grid {
    color: rgb(225,40,133);
}

#days {
    font-family: "Nanum Pen Script";
    font-size: 200px;
}

#hours {
    font-family: "Free mono";
    font-weight: 900;
    letter-spacing: 5px;
    font-size: 50px;
}
