#page {
    background-size: contain;
	background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    font-family: "Nanum Pen Script";
}

#page.roove39 {
    background-image: url("resource:///dance/_39music/MikuExpoCountdown/39roove.png");
    padding: 10px;
    color: #f75189;
    background-color: #252525;
    padding: 10px;
}

#page.birthday {
    background-image: url("resource:///dance/_39music/MikuExpoCountdown/miku_16th_birthday.jpg"), linear-gradient(#3589b5,#d2e3eb);
    padding: 10px;
    color: #f75189;
    background-color: #252525;
    padding: 10px;
}

#page.d39 {
    background-image: url("resource:///dance/_39music/MikuExpoCountdown/dimension39.png"), linear-gradient(#8ae7c9,#8ae7c9,#8ae7c9,#8ae7c9, #8ae7c9,#8ae7c9,#8ae7c9, #fbf7a7, #fbf7a7, #fbf7a7, #fbf7a7, #fbf7a7,#fbf7a7,#fbf7a7,#fbf7a7);
    padding: 10px;
    color: #fe002b;
    background-color: #090909;
    padding: 10px;
}

#page.bar39 {
    background-image: url("resource:///dance/_39music/MikuExpoCountdown/bar39.jpg");
    padding: 10px;
    color: #5dc6fd;
    padding: 10px;
}

#page.expo {
    background-image: url("resource:///dance/_39music/MikuExpoCountdown/hero_miku.png");
    padding: 10px;
    color: rgb(213,25,118);
    background-color: rgb(30,0,105);
    padding: 10px;
}

#page.expovr {
    background-image: url("resource:///dance/_39music/MikuExpoCountdown/expovr_miku.png"), url("resource:///dance/_39music/MikuExpoCountdown/expovr_bg.jpg");
    color: #4340b0;
    background-color: #e05b90;
    background-repeat: no-repeat, repeat;
}

#page.expo2024 {
    background-image: url("resource:///dance/_39music/MikuExpoCountdown/expo2024.png"), url("resource:///dance/_39music/MikuExpoCountdown/hero_bg_2024.jpg");
    padding: 10px;
    color: rgb(255,255,255);
    background-color: rgb(30,0,105);
    background-repeat: no-repeat;
    padding: 10px;
}

#page.mirai {
    background-image: url("resource:///dance/_39music/MikuExpoCountdown/mirai_2023.png");
    padding: 10px;
    color: #00c8bb;
    background-color: #000000;
    padding: 10px;
}

#page.thunderbolt {
    background-image: url("resource:///dance/_39music/MikuExpoCountdown/thunderbolt.png");
    padding: 10px;
    color: #dbdb00;
    background-color: #000000;
    padding: 10px;
}

#page.kodo {
    background-image: url("resource:///dance/_39music/MikuExpoCountdown/kodo_2023.png");
    padding: 10px;
    color: #ee0186;
    background-color: #000000;
    padding: 10px;
}

#page.digistars {
    background-image: url("resource:///dance/_39music/MikuExpoCountdown/hero_digital_stars_2022.png");
    background-position: bottom center;
    padding: 0px;
    color: rgb(113,25,18);
    background-color: #364153;
    padding: 0px;
}

#page.nzaus {
    background-image: url("resource:///dance/_39music/MikuExpoCountdown/nzaus.webp"), linear-gradient(#3589b5,#d2e3eb);
    padding: 10px;
    color: #f75189;
    background-color: #252525;
    padding: 10px;
}

#page.blooming {
    background-image: url("resource:///dance/_39music/MikuExpoCountdown/blooming.webp"), url("resource:///dance/_39music/MikuExpoCountdown/blooming2.webp"), url("resource:///dance/_39music/MikuExpoCountdown/blooming3.webp"), linear-gradient(#0096b6, #0096b6);
    padding: 10px;
    color: #e34942;
    background-color: #252525;
    padding: 10px;
}

#days {
    font-size: 200px;
    text-shadow: 2px 2px 10px #000;
}

#hours {
    font-family: "Free mono";
    font-weight: 900;
    letter-spacing: 5px;
    font-size: 50px;
}

#date {
    font-family: "Free mono";
    font-weight: 900;
}
