#mainwin {
    background-image: url("resource:///org/talinet/mikuexpocountdown/hero_miku.png");
    background-size: contain;
	background-repeat: no-repeat;
    background-origin: content-box;
    padding: 10px;
    background-color: rgb(124, 139, 173);
}

grid {
  color: #595e70;
}

#days {
  font-size: 80px;
}

#hours {
    font-size: 40px;
    font-weight: 900;
    font-family: monospaced;
    letter-spacing: 5px;
}
